$red-bg: #ffdce0;
$yellow-bg: #fff0c2;
$green-bg: #d3ebd3;


table.stdlist>tbody>tr:is(.row0, .row1) {
  &.one-day-left {
    background-color: $red-bg !important;

    &:hover,
    &.hilitecolor td {
      background-color: adjust-color($red-bg, $lightness: -2%) !important;
    }

    &.row1 {
      background-color: adjust-color($red-bg, $lightness: 2%) !important;
    }

    a {
      color: adjust-color($red-bg, $lightness: -75%) !important;
    }
  }

  &.three-days-left {
    background-color: $yellow-bg !important;

    &:hover,
    &.hilitecolor td {
      background-color: adjust-color($yellow-bg, $lightness: -2%) !important;
    }

    &.row1 {
      background-color: adjust-color($yellow-bg, $lightness: 2%) !important;
    }

    a {
      color: adjust-color($yellow-bg, $lightness: -75%) !important;
    }
  }

  &.seven-days-left {
    background-color: $green-bg !important;

    &:hover,
    &.hilitecolor td {
      background-color: adjust-color($green-bg, $lightness: -2%) !important;
    }

    &.row1 {
      background-color: adjust-color($green-bg, $lightness: 2%) !important;
    }

    a {
      color: adjust-color($green-bg, $lightness: -75%) !important;
    }
  }
}