$red-bg: #ffdce0;
$yellow-bg: #fff0c2;
$green-bg: #d3ebd3;

$statuses: (
  seven-days-left : $green-bg,
  three-days-left : $yellow-bg,
  one-day-left : $red-bg,
);

@mixin status-row($name, $color) {
  &.#{$name} {
    background-color: $color !important;

    &:hover,
    &.hilitecolor td {
      background-color: color-mix(in srgb, #{$color} 98%, black 2%) !important;
    }

    &.row1 {
      background-color: color-mix(in srgb, #{$color} 98%, white 2%) !important;
    }

    a {
      color: color-mix(in srgb, #{$color} 25%, black 75%) !important;
    }
  }
}

table.stdlist>tbody>tr:is(.row0, .row1, .row) {
  @each $name, $color in $statuses {
    @include status-row($name, $color);
  }
}